b,
strong {
	font-weight: 700;
}

dfn,
em,
i,
cite {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $f-title;
  color: $c-title;
  line-height: 1.2;
  font-weight: 700;
}

h1 {
  font-size: calc(1.625rem + 1.2vw);
  margin: 0 0 1rem;
  
  span {
  	display: block;
  }
}


h2 {
  font-size: calc(1.375rem + 1vw)
}

h3 {
  font-size: calc(1.5rem + .25vw);
}

h4 {
  font-size: calc(1.3rem + .25vw);
}

h5 {
  font-size: calc(1.15rem + .25vw);
}

h6 {
  font-size: calc(1rem + .25vw);
}

p {
	margin: 0 0 1.5em;
}

ul, 
ol {
  margin: 0 0 1.5em;
  padding: 0 0 0 1em;
}

ul li {
  list-style: disc;
}

ol li {
  list-style: decimal;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 1.2rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}