.main-navigation {
	clear: both;
	//display: block;
	//float: left;
	width: 100%;

	//@include mappy-bp(screen-md) {
	    display: flex;
	    //flex-direction: column;
	    text-align: right;
	    justify-content: flex-end; 
	    align-items: center;
	    margin: 0;
	//}

	.nav-inner {
		padding: 2em 0;
		text-align: center;

		//@include mappy-bp(screen-md) {
			padding: 0;
			text-align: left;
			display: flex;
			align-items: flex-end;
			flex-direction: column-reverse;
		//}
	}

	ul {
		@include reset-list();
	}

	ul ul {
		background-color: $main-nav-submenu-bg;
		margin: 0 0 0 0.5em;

		@include mappy-bp(screen-md) {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			margin: 0;
		}
	}

	ul ul ul {
		@include mappy-bp(screen-md) {
			left: -999em;
			top: 0;
		}
	}

	ul ul li:hover > ul,
	ul ul li.focus > ul {
		left: 100%;
	}

	ul ul a {
		width: 200px;
	}

	ul li:hover > ul,
	ul li.focus > ul {
		left: auto;
	}

	ul li {
		@include mappy-bp(screen-md) {
		  display: inline-block;
		  position: relative;
		}
	}

	a {
		display: block;
		padding: 0 0.25em;
		color: $main-nav-link-color;
		text-decoration: none;

		&:hover {
			color: $main-nav-link-hover-color;
		}
	}


	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	.current-menu-item > a {
		color: $main-nav-active-color;
	}

	.network {
		a svg {
			polygon {
				fill: #fff;
			}
		}
	}

a.single-lang-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5em;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 .25em;
  border-radius: 5px;
  border: 1px solid black;
  background-color: transparent;
  position: relative;
  top: -3px;
  font-size: 90%;

  &:hover {
    background-color: $blue;
    color: black;
  }

  @include mappy-bp(screen-sm) {
    margin-left: 1em;
    font-size: 100%;  
  }

  img {
    width: 28px;
    height: 28px;

    @include mappy-bp(screen-md) {
      width: 32px;
      height: 32px;
    }
  }
}

}



.menu-toggle {
	//position: absolute;
	//top: 1.5em;
	//right: 2.5%;
	display: inline-block;
	width: auto;
	background-color: transparent;
	border: none;
	padding: 0.25em 1em;
	position: relative;
	top: -2px;
	position: relative;
	z-index: 999;
	margin-left: 0.5em;

	@include mappy-bp(screen-sm) {
		margin-left: 1em;
	}

	&:hover {
		background-color: transparent;
	}

	.label {
		display: none;
	}

	.burger-line {
		@include transition-default();
		display: block;
		width: 25px;
		height: 2px;
		background-color: black;

		@include mappy-bp(screen-sm) {
			width: 37px;
			height: 3px;
		}


		&:nth-child(2) {
			margin: 5px 0;
		}
	}


	&:hover {
		.burger-line {
			//background-color: white;
		}
	}


}

.main-navigation {
	.nav-inner {
	  @include transition-default();
	  clear: both;
	  display: block;
	  //float: left;
	  width: 100%;
	  height: 100vh;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  margin: 0;
	  background-color: rgba($black, 0.85);
	  position: fixed;
	  top: 0;
	  right: -100%;
	  z-index: 888;

	}

	&.toggled {
		.nav-inner {
			display: flex;
			right: 0;
		}
	}
}

.primary-menu {
	ul {
		display: flex;
		flex-direction: column;
		text-align: center;
		
		li {
			a {
				color: rgba(white, 0.8);
				text-transform: uppercase;
				font-family: $f-title;
				font-size: 150%;
				font-weight: 700;

				@include mappy-bp(screen-sm) {
					font-size: 250%;
				}	

				&:hover {
					color: white;
				}
			}
		}
	}

	ul li.appart {
		a {
			font-size: 130%;

			@include mappy-bp(screen-sm) {
				font-size: 200%;			
			}		
		}
	}

	.languages {
		flex-direction: row;
		align-items: center;
		justify-content: center;

		img {
			width: 32px;
		}
	}
}

.secondary-menu {
	@include mappy-bp(screen-md) {
	    display: flex;
	    justify-content: flex-end; 
	    align-items: center;
	   // margin: 0.5em 0 1em;
	}

	a {
		@include mappy-bp(screen-md) {
			font-size: 90%;
			//text-transform: none;
			//padding: 0;
		}
	}

	> * {
		@include mappy-bp(screen-md) {
			margin: 0 0.5em 0 0;
		}
	}

}

#masthead .main-navigation.toggled {

	.burger-line {
		background-color: #fff;
	}

  .burger-line:nth-child(1) {
    transform: rotate(45deg);
  }

  .burger-line:nth-child(2) {
    transform: rotate(-45deg);
    margin: -3px 0 0 0;
  }

  .burger-line:nth-child(3) {
    opacity: 0;
  }  
}
