#masthead {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	.admin-bar & {
		//top: 46px;

		@include mappy-bp(screen-md) {
			top: 32px;
		}
	}
}

body {
	//padding-top: $masthead-height;

	&.sticky-menu {
		
		#masthead {
			background-color: rgba(white, 0.9);
			box-shadow: -1px 10px 20px 0 rgba(0,0,0,.25);

			.site-title {
				opacity: 1;
			} 

			.secondary-menu {
				@include mappy-bp(screen-md) {
					display: none;
				}
			}

		}
	}

	&.menu-open {
		overflow: hidden;

		// @include mappy-bp(screen-md) {
		// 	overflow: auto;	
		// }

		.nav-inner {
			max-height: 100vh;
			overflow: auto;
		}
	}
}