.page-template-gdpr {

	#masthead .site-title {
		opacity: 1;
	}

	main {
	    width: 90%;
	    max-width: 800px;
	    margin: 100px auto 2em;

	    h1 {
	    	text-align: center;
	    	margin:  2em 0 1em;
	    }

	    h2 {
	    	font-size: calc(1rem + 0.5vw);

	    }
	}

	div.cta {
		margin: 2em 0;
		text-align: center;
	}

} 